@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'poppins', sans-serif;
    background-color: #333;
}

.nav {
    flex-direction: column;
}
.container {
    display: flex;
    gap: 10px;
}

.container {
    margin: 0 auto;
    display: grid;
    width: 100%;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    align-items: center;
    background-image: url(../Design/Assets/background.webP);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    object-fit: contain;
    background-size: 99%;
}

.container-nav {
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
    backdrop-filter: blur(5px);
    width: 110%;
    border-radius: 8px;
}

.main-container {
    text-align: center;
    color: white;
}