<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VSB</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Navbar -->
    <div class="container">
        <div class="container-nav">
            <nav>
                <div class="nav">
                    <div>
                        <a href="home.php">Home</a>
                    </div>
                    <div>
                        <a href="List.php">List Character</a>
                    </div>
                    <div>
                        <a href="about.php">About Us</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</body>
</html>